.App {
  text-align: center;
  background-color: black;
  background-image: url("./bgimg.jpg");
  background-size: cover;
  color: darkred;
  height: 98vh;
  font-family: 'Permanent Marker', cursive;
  /*font-family: 'The Nautigal', cursive;*/
}

.fragenKarte {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 80%; /* Can be in percentage also. */
  height: auto;

  /* Visual  */
  opacity: 90%;
  background-color: gray;
  padding: 16px;
  border: darkred 3px solid;
  border-radius: 16px;
  color: blue;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

ul {
  list-style: none;
}

li {
  margin-top: 8px;
  background-color: darkgray;
  padding: 16px;
  border: 3px solid darkred;
  border-radius: 20px;
  font-size: 20px;
}

.fragenText {
  color: darkred;
  font-size: 24px;
}

/* Final Results  */

.endergebnis {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  background-color: gray;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
button {
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
}